body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  background-color: #1c2e3a;
}
header {
  z-index: 1;
  position: fixed;
  background-color: #1c2e3a; /*#22242A;*/ /*celle la #27313B;*/
  padding: 20px;
  width: 100%;
  top: 0;
  height: 30px;
  border-bottom: 1px #fff solid;
}

header a {
  text-decoration: none;
}

label #sidebar_btn {
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  top: 12px;
  left: 20px;
  font-size: 30px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

/*Ecriture ruban noir EI-ASD database*/
.left_area h3 {
  color: #fff;
  margin: 0;
  margin-left: 40px;

  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}
.content {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  margin-top: 70px;
  padding: 10px;
  height: 90vh;
  transition: 0.5s;
}
