body{
  margin: 0;
  padding: 0;
/*  font-family: "Roboto", sans-serif;*/
font-family: 'Work Sans', sans-serif;

}

/*ruban noir EI-ASD database*/
header{
  z-index: 1;
  position: fixed;
  background-color: #1c2e3a; /*#22242A;*//*celle la #27313B;*/
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 30px;
}
header a{
  text-decoration: none;
}
/*Ecriture ruban noir EI-ASD database*/
.left_area h3{
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}

/*RUBAN GAUCHE*/

/*image profile*/
.profile_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*taille image profile*/
.sidebar .profile_info .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 20px;
  box-shadow: 0 0 1px 0px #D0D8E1;
}

/*Nav bar ruban gauche*/
.sidebar{
  z-index: 1;
  top: 0;
  background-color: #4D6176;
  /*background: #2f323a;*/
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 240px;
  height: calc(100% - 9%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}
/*Nav bar boutons ruban gauche*/
.sidebar a{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
  font-size: 14px;
}
/*Nav bar bouton current*/
.sidebar .current a{
  background-color: #D0D8E1;/*#FFB74F*/
  color: #27313B;

}
/*color when mouse on nav sider button*/
.sidebar a:hover{
  background-color: #A6B0BB;
}
/*ecartement icone-texte ruban gauche*/
.sidebar i{
  padding-right: 5px;
}
/*Petites barres reduction menu*/
label #sidebar_btn{
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  top:12px;
  left: 250px;
  font-size:30px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

.nav_btn{
  z-index: 0;
  color: #fff;
  position: fixed;
  cursor: pointer;
  top: 12px;
  left: 250px;
  font-size:30px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

/*color when mouse over reduction sidebar menu*/
label #sidebar_btn:hover{
  color: #A6B0BB;
}

#check:checked ~ .sidebar{
  left: -165px;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

/* CONTENT */
.content{
  width: (100% - 240px);
  margin-top: 70px;
  padding: 0px;
  margin-left: 240px;
  height: 100vh;
  transition: 0.5s;
}

.content .text h2{
  text-align: center;
  padding: 0px;
  margin-top: relative;
  margin-bottom: 0px;
  font-size: 40px;
  color: #1c2e3a;
}
/*.content .text .p1{
text-align: center;
  opacity: 0.8;
  font-size: 18px;
  margin-left: 60px;
  margin-right: 60px;
}*/

.content .text h4{
  /*background: #CDD9FF;*/
  padding: 5px;
  margin-top: 20px;
  margin-left: 5px;
  margin-bottom: 0px;
  font-size: 22px;
  color: #415467;
}
.content .text p{
  /*background: #CDD9FF;*/
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 18px;
  opacity: 0.8;
  margin-left: 45px;
  text-indent: -1em;
}
.content .text .p1{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 16px;
  opacity: 0.8;
  margin-left: 65px;
  margin-right: 65px;
  color: #415467;
}




.content .text a{
  background-color: red;
  text-decoration: none;
}

.manuscript_dwnld{
  color: #D83030;
}


#check:checked ~ .content{
  margin-left: 60px;
}

#check:checked ~ .sidebar .profile_info{
  display: none;
}

#check{
  display: none;
}

.mobile_nav{
  display: none;
}

/* Responsive CSS */

@media screen and (max-width: 780px){

  .sidebar{
    display: none;
  }
  #sidebar_btn{
    display: none;
  }
  header{
    position: absolute;
  }
  .nav_btn{
    position: absolute;
}

  .color_mob {
    height: 70px;
    background-color: #2F323A;
  }

  .content{
    width: 100%;
    margin-top: 0px;
    margin-left: 0;
  }


  .content .text h2{
    font-size: 30px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .content .text h4{
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;

  }

  .content .text p{
    margin-top: 0px;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;

  }

  #check:checked ~ .content{
    margin-left: 0;
  }

  .mobile_nav{
    display: block;
    width: calc(100% - 0%);
  }

  .mobile_nav_items{
  background-color: #2F323A;
    display: none;
     margin-top: 70px;
  }

  .mobile_nav_items a{
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }

  .mobile_nav_items a:hover{
    background: #19B3D3;
  }

  .mobile_nav_items i{
    padding-right: 10px;
  }

  .active{
    display: block;
  }
}
