*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  // background-color: green;
  margin: 0;
  padding: 0;
  // font: inherit;
  font-family: "Avenir Next LT Pro", sans-serif;
  scroll-behavior: smooth;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100vh;
}
body {
  padding: 0.5rem 2rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  @media (max-width: 768px) {
    padding: 0.5rem 0.5rem;
  }

  ul {
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-type: disc; /* or other list-style-type value as desired */
    margin-left: 40px; /* Adjust margin as needed */
  }

  ul li {
    color: #7a7a7a;
    font-weight: 200;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 0px;
    a {
      color: #145062;
    }
  }

  .desc_tab {
    color: #1088ad;
    font-weight: bold;
    text-align: center;
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .header_shalf {
    font-size: 1.4rem;
    color: #1088ad;
    text-align: center;
    font-weight: bold;
    // border: 2px solid red;
  }
  // .shalf {
  //   border: 2px solid red;
  //   display: grid;
  //   grid-template-columns: 1fr;
  //   gap: 2rem;
  //   @media (max-width: 900px) {
  //     grid-template-columns: auto;
  //   }
  // }
  .header_tab {
    font-size: 1.2rem;
    color: #1088ad;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    text-align: center;
  }

  .card_carac_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 0.8rem;
    gap: 2rem;
    text-align: center;
    @media (max-width: 900px) {
      grid-template-columns: auto;
    }

    .card_caracteristic {
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      border-radius: 5px;
      border: 1px solid #a7a7a7;
      padding: 0.5rem;
    }

    .card_caracteristic_head {
      font-size: 1.1rem;
      text-align: center;
      font-weight: bold;
    }

    .ul_age {
      margin-top: 1rem;
      margin-bottom: 1rem;

      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; // Adjust height according to your layout needs
      gap: 1rem;

      .baby,
      .child,
      .adol,
      .adult,
      .school,
      .clinic,
      .homeT,
      .short,
      .medium,
      .long {
        background-size: contain; // Ensure the background image scales correctly
        background-repeat: no-repeat;
        background-position: center;
      }

      .baby,
      .child,
      .adol,
      .adult {
        width: 100px; // Set the desired width for the images
        height: 100px; // Set the desired height for the images
        border-radius: 50%;
        border: 2px solid #000;
      }
      .school,
      .clinic,
      .homeT,
      .short,
      .medium,
      .long {
        width: 150px; // Set the desired width for the images
        height: 100px; // Set the desired height for the images
      }

      .baby {
        background-image: url("../img/baby.svg");
      }
      .child {
        background-image: url("../img/child.svg");
      }
      .adol {
        background-image: url("../img/adol.svg");
      }
      .adult {
        background-image: url("../img/adult.svg");
      }
      .school {
        background-image: url("../img/school.svg");
      }
      .homeT {
        background-image: url("../img/home.svg");
      }
      .clinic {
        background-image: url("../img/building.svg");
      }
      .short {
        background-image: url("../img/calendar-short.svg");
      }
      .medium {
        background-image: url("../img/calendar-medium.svg");
      }
      .long {
        background-image: url("../img/calendar-long.svg");
      }
    }
  }

  .bottom_ressources {
    padding: 1rem;
    margin-top: 2rem;
    border: 1px solid #000;
    .header_tab {
      margin-top: 0;
    }
    .ressources {
      a {
        color: #145062;
      }
    }
  }
}

.btn_container {
  max-width: 100%; /* Or specify a fixed width */
  margin: auto; /* Center the container horizontally */
}
.button {
  background-color: #1c2e3a;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-flex; /* Use flexbox */
  align-items: center; /* Align items vertically */
  font-size: 1rem;
  gap: 1rem;
  cursor: pointer;
  width: auto; /* Ensure the button takes only the minimum space required by its content */
}

.button:hover {
  opacity: 0.7;
}

.hero {
  position: relative; /* Ensure proper positioning of the child line */
  width: 100%; /* Set the width of the parent div */

  .hero_image {
    float: right;
    margin: 5px;
    margin: 5px;
    top: 0;
    bottom: auto;
    @media (max-width: 768px) {
      display: block; /* Ensure it's displayed as a block element */
      margin-top: 2rem;
      float: none; /* Remove floating */
      margin-left: auto;
      margin-right: auto;
      width: 95vw; /* Set width to 95vw */
    }
  }

  .hero_image img {
    width: auto;
    max-width: 400px;
    border-radius: 10px;
    @media (max-width: 400px) {
      width: 80vw;
    }
  }
}

.custom-hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 5px; /* Set the height of the horizontal rule */
  width: 95%; /* Set the width of the horizontal rule */
  margin-left: auto;
  margin-right: auto;
  background-color: #1088ad; /* Set the color of the horizontal rule */
  border: none; /* Remove default border */
}
