@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next LT Pro", sans-serif;
  scroll-behavior: smooth;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100vh;
}

#chartdiv {
  width: 50%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.home {
  position: absolute;
  left: 88px;
  width: calc(100% - 88px);
  padding: 0 0.5rem;
}
@media (max-width: 900px) {
  .home {
    left: 0;
    width: 100%;
  }
}

h1 {
  margin-top: 3rem;
  text-align: center;
  padding: 0px;
  margin-top: relative;
  margin-bottom: 0px;
  font-size: 3rem;
  /* opacity: 0.8; */
  color: #1088ad;
}
@media (max-width: 900px) {
  h1 {
    max-width: 15ch;
    margin-top: 3rem;
    font-size: 1.8rem;
    margin-left: auto;
    margin-right: auto;
  }
}

h2 {
  color: #1088ad;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  max-width: 60ch;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
}

#intervention_material {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
  text-align: left;
}
#intervention_material .filters {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media (max-width: 900px) {
  #intervention_material .filters {
    font-size: 0.8rem;
    gap: 1rem;
  }
}
#intervention_material #data-table:before {
  margin-top: 1rem;
}
@media (max-width: 767px) {
  #intervention_material #data-table:before {
    content: "Scroll horizontally >";
    display: block;
    font-weight: bold;
    text-align: right;
    color: #000;
    padding: 0 0;
  }
}
#intervention_material #data-table {
  position: relative;
  max-height: 100vh;
  overflow-y: auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#intervention_material .table-fill {
  font-size: 0.8rem;
  margin-top: 1rem;
  border-collapse: collapse;
  border: none;
  overflow-y: auto;
  width: 100%;
  width: 100%;
  height: 100%; /* Fill the height of the container */
}
#intervention_material .table-fill thead {
  position: sticky; /* Stick the header to the top */
  top: 0; /* Position the header at the top of the container */
  z-index: 2; /* Ensure header stays above other elements */
  background-color: #f8f8f8; /* Background color of header */
}
@media (max-width: 767px) {
  #intervention_material .table-fill {
    display: block;
  }
}
#intervention_material .table-fill .classPSY {
  padding: 5px;
  background-color: #0bb2ff;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}
#intervention_material .table-fill .classCOMP {
  padding: 5px;
  background-color: #ffc77c;
  border-radius: 5px;
}
#intervention_material .table-fill td,
#intervention_material .table-fill th {
  border: none;
  padding: 8px;
  text-align: center;
  max-width: 30ch;
}
#intervention_material .table-fill td a,
#intervention_material .table-fill th a {
  color: #00627f;
  padding: 0.5rem;
}
@media (max-width: 768px) {
  #intervention_material .table-fill td,
  #intervention_material .table-fill th {
    font-size: 0.6rem;
  }
}
#intervention_material .table-fill th:nth-child(1) {
  border-radius: 20px 0 0 0 !important;
  border: none;
}
#intervention_material .table-fill th:last-child {
  border-radius: 0 20px 0 0 !important;
  border: none;
}
@media (max-width: 767px) {
  #intervention_material .table-fill th:last-child {
    border-radius: 0 0 0 20px !important;
  }
}
#intervention_material .table-fill td {
  border: 1px solid rgb(227, 227, 227);
}
#intervention_material .table-fill thead th {
  color: #ffffff;
  background: #1088ad;
}
#intervention_material .table-fill tr:nth-child(even) {
  background: rgba(16, 136, 173, 0.1333333333);
}
@media (max-width: 767px) {
  #intervention_material .table-fill tr:nth-child(even) {
    background: #fff;
  }
}
#intervention_material .table-fill tr:nth-child(odd) {
  background: #ffffff;
}
@media (max-width: 767px) {
  #intervention_material .table-fill tr:nth-child(odd) {
    background: rgba(16, 136, 173, 0.1333333333);
  }
}
#intervention_material .table-fill td:nth-child(3),
#intervention_material .table-fill td:nth-child(4) {
  text-align: left;
}
#intervention_material .table-fill .select2-results {
  background-color: #000;
}

@media (max-width: 767px) {
  .table-fill {
    display: block;
    width: 100%;
  }
  .table-fill thead,
  .table-fill tbody,
  .table-fill thead th {
    display: block;
  }
  .table-fill thead th:last-child {
    border-bottom: none;
  }
  .table-fill thead {
    float: left;
  }
  .table-fill tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  .table-fill td,
  .table-fill th {
    height: 120px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 260px;
    text-overflow: ellipsis;
    font-size: 0.5rem;
  }
  .table-fill thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
    width: 120px;
  }
  .table-fill tbody tr {
    display: table-cell;
  }
  .table-fill tbody td {
    display: block;
    text-align: center;
  }
}
.ul_age {
  list-style-type: none; /* Remove default bullet */
  padding-left: 0; /* Remove default padding */
}

.ul_age li {
  padding-left: 30px; /* Example padding */
  position: relative; /* Position relative for absolute positioning of bullets */
  line-height: 0.9; /* Adjust line height for proper spacing */
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Style for colored bullets */
.ul_age li::before {
  content: ""; /* Empty content */
  width: 25px; /* Example width of the bullet */
  height: 25px; /* Example height of the bullet */
  background-size: cover;
  display: inline-block; /* Display as block element to apply width and height */
  position: absolute; /* Position absolute to place the bullet */
  left: 0; /* Align bullet to the left of the list item */
  top: 40%; /* Center bullet vertically */
  transform: translateY(-50%); /* Adjust vertical alignment */
  border-radius: 50%;
  border: 2px solid #000;
}

.ul_age .baby::before {
  background-image: url("../img/baby.svg"); /* URL of your class1 bullet image */
}

.ul_age .child::before {
  background-image: url("../img/child.svg"); /* URL of your class1 bullet image */
}

.ul_age .adol::before {
  background-image: url("../img/adol.svg"); /* URL of your class1 bullet image */
}

.ul_age .adult::before {
  background-image: url("../img/adult.svg"); /* URL of your class1 bullet image */
}

.ul_outcome {
  list-style-type: none; /* Remove default bullet */
  padding-left: 0; /* Remove default padding */
  /* Style for colored bullets */
  /* Change the color of bullets based on class */
}
.ul_outcome li {
  line-height: 0.9; /* Adjust line height for proper spacing */
  padding-left: 30px; /* Example padding */
  position: relative; /* Position relative for absolute positioning of bullets */
  line-height: 1.5; /* Adjust line height for proper spacing */
}
.ul_outcome li::before {
  content: "•"; /* Unicode for bullet */
  font-size: 54px; /* Example bullet size */
  margin-right: 10px; /* Example margin between bullet and text */
  width: 20px; /* Example width of the bullet */
  text-align: center; /* Center bullet horizontally */
  display: inline-block; /* Display as block element to apply width */
  position: absolute; /* Position absolute to place the bullet */
  left: 0; /* Align bullet to the left of the list item */
  top: 50%; /* Center bullet vertically */
  transform: translateY(-50%); /* Adjust vertical alignment */
}
.ul_outcome .A_CORE_SYMPT::before {
  color: rgb(209, 36, 36); /* Color for class1 */
}
.ul_outcome .D_PROB::before {
  color: rgb(231, 62, 211); /* Color for class2 */
}
.ul_outcome .C_LANG::before {
  color: rgb(255, 194, 51); /* Color for class3 */
}
.ul_outcome .B_ADAPT::before {
  color: rgb(99, 168, 214); /* Color for class3 */
}

#data-table::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  padding-top: 4rem;
  border-radius: 10px;
  background-color: #f5f5f5;
}
@media (max-width: 767px) {
  #data-table::-webkit-scrollbar-track {
    margin-top: 4rem;
  }
}

#data-table::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

#data-table::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

#data-table::after {
  content: "";
  display: block;
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: #1088ad;
  height: 40px;
  border-radius: 0 0 20px 20px;
}
@media (max-width: 767px) {
  #data-table::after {
    height: 0px;
  }
}/*# sourceMappingURL=intervention.css.map */