*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next LT Pro", sans-serif;
  scroll-behavior: smooth;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100vh;
}

#chartdiv {
  width: 50%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.home {
  position: absolute;
  left: 88px;
  width: calc(100% - 88px);
}
@media (max-width: 900px) {
  .home {
    left: 0;
    width: 100%;
  }
}

h1 {
  margin-top: 3rem;
  text-align: center;
  padding: 0px;
  margin-top: relative;
  margin-bottom: 0px;
  font-size: 3rem;
  /* opacity: 0.8; */
  color: #1088ad;
}
@media (max-width: 900px) {
  h1 {
    max-width: 15ch;
    margin-top: 3rem;
    font-size: 1.8rem;
    margin-left: auto;
    margin-right: auto;
  }
}

h2 {
  color: #1088ad;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  max-width: 60ch;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
}

#intervention_material {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  margin-bottom: 3rem;
  text-align: left;
}
#intervention_material .filters {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
@media (max-width: 900px) {
  #intervention_material .filters {
    font-size: 0.8rem;
    gap: 1rem;
  }
}
@media (max-width: 767px) {
  #intervention_material #data-table:before {
    content: "Scroll horizontally >";
    display: block;
    font-weight: bold;
    text-align: right;
    font-size: 1rem;
    color: #000;
    padding: 0 0 10px;
  }
}
#intervention_material .table-fill {
  margin-top: 1rem;
  border-collapse: collapse;
  width: 100%; /* Set width to 100vw */
}
@media (max-width: 767px) {
  #intervention_material .table-fill {
    display: block;
  }
}
#intervention_material .table-fill .classPSY {
  padding: 5px;
  background-color: #c6e6bb;
  border-radius: 5px;
}
#intervention_material .table-fill .classCOMP {
  padding: 5px;
  background-color: #ffc77c;
  border-radius: 5px;
}
#intervention_material .table-fill td,
#intervention_material .table-fill th {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
  max-width: 30ch;
}
#intervention_material .table-fill td a,
#intervention_material .table-fill th a {
  color: #1088ad;
  padding: 0.5rem;
  border-radius: 5px;
}
@media (max-width: 900px) {
  #intervention_material .table-fill td,
  #intervention_material .table-fill th {
    font-size: 0.7rem;
  }
}
#intervention_material .table-fill thead th {
  color: #ffffff;
  background: #1088ad;
}
#intervention_material .table-fill tr:nth-child(even) {
  background: #f8f8f8;
}
#intervention_material .table-fill td:nth-child(3),
#intervention_material .table-fill td:nth-child(4) {
  text-align: left;
}
#intervention_material .table-fill ul {
  margin-left: 1rem;
}
#intervention_material .table-fill .select2-results {
  background-color: #000;
}

@media (max-width: 767px) {
  .table-fill {
    display: block;
    width: 100%;
  }
  .table-fill thead,
  .table-fill tbody,
  .table-fill thead th {
    display: block;
  }
  .table-fill thead th:last-child {
    border-bottom: none;
  }
  .table-fill thead {
    float: left;
  }
  .table-fill tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  .table-fill td,
  .table-fill th {
    height: 160px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    text-overflow: ellipsis;
  }
  .table-fill thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  .table-fill tbody tr {
    display: table-cell;
  }
  .table-fill tbody tr:nth-child(odd) {
    background-color: #fff;
  }
  .table-fill tr:nth-child(even) {
    background-color: #fff;
  }
  .table-fill tr td:nth-child(odd) {
    background-color: #fff;
    border-right: 1px solid #e6e4e4;
  }
  .table-fill tr td:nth-child(even) {
    border-right: 1px solid #e6e4e4;
  }
  .table-fill tbody td {
    display: block;
    text-align: center;
  }
}/*# sourceMappingURL=intervention.css.map */